In [1]:
import pandas as pd

In [2]:
predictions_path = "in_out/predictions/p_cnn_1_3_1.00.csv"
result_path = "in_out/column_gt_fg.csv"
result_extended_path = "in_out/column_gt_extend_fg.csv"

df_predictions = pd.read_csv(predictions_path, names=["table_id", "class", "score"])
df_true = pd.read_csv(result_path, names=["table_id", "class"])

In [3]:
df_predictions

                              table_id               class  score
0     10151359_0_8168779773862259178 0      BritishRoyalty   0.92
1     10151359_0_8168779773862259178 0                Film   0.87
2     10151359_0_8168779773862259178 0         MusicalWork   0.87
3     10151359_0_8168779773862259178 0                Work   1.00
4     10151359_0_8168779773862259178 1               Agent   1.00
...                                ...                 ...    ...
1207  99070098_0_2074872741302696997 1           Eukaryote   0.79
1208  99070098_0_2074872741302696997 1  MemberOfParliament   1.00
1209  99070098_0_2074872741302696997 1            Mountain   1.00
1210  99070098_0_2074872741302696997 1        Organisation   0.80
1211  99070098_0_2074872741302696997 1               Place   1.00

[1212 rows x 3 columns]

In [4]:
df_true

                                              table_id           class
0    1438042986423_95_20150728002306-00125-ip-10-23...  PoliticalParty
1    1438042989018_40_20150728002309-00067-ip-10-23...       Cricketer
2    1438042989043_35_20150728002309-00287-ip-10-23...        Mountain
3                     68779923_2_1000046510804975562 4  GovernmentType
4                     68779923_2_1000046510804975562 0         Country
..                                                 ...             ...
406                   41336118_0_4331895026409635103 0         Company
407                   68779923_0_3859283110041832023 5        Language
408                   68779923_0_3859283110041832023 4  GovernmentType
409                   68779923_0_3859283110041832023 0         Country
410                   68779923_0_3859283110041832023 3            City

[411 rows x 2 columns]

In [5]:
predictions_classes = df_predictions["class"]
true_classes = df_true["class"]

intersections = pd.Series(list(set(predictions_classes).intersection(set(true_classes))))

In [8]:
Precision = intersections.size / predictions_classes.size

In [9]:
Recall = intersections.size / true_classes.size

In [10]:
F1 = 2 * Precision * Recall / (Precision + Recall)

In [16]:
print(f'Precision = {Precision:.2f}')
print(f'Recall = {Recall:.2f}')
print(f'F1 = {F1:.2f}')

Precision = 0.04
Recall = 0.10
F1 = 0.05